[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
psycopg2-binary = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
